<header class="w-screen flex items-center justify-center bg-black  text-white p-6 overflow-hidden">

  <div class="container flex items-center justify-between p-2">
    <div class="w-16">
      <img src="./Assets/Egologo_115x120.png" alt="Logo" class="w-full">
    </div>

    <nav class="flex items-center justify-center">
      <ul class="flex items-center justify-center gap-8 text-white">
        <li><a href="/" class="text-white font-bold">Home</a></li>
        <li><a href="/about" class="text-white font-bold">About</a></li>
        <li><a href="/contact" class="text-white font-bold">Contact</a></li>

      </ul>
    </nav>
  </div>

</header>